@using Kendo.Mvc.UI

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/WillisMaster_CRUD.cshtml";
}

<div style="display: inline-block; width: 98%; height: 600px;">
    @Html.Action("Reports", "Home")
</div>

