@{
    ViewBag.Title = "ClaimSubmittedSuccessfully";
    Layout = "~/Views/Home/ClientMaster_CRUD.cshtml";
} 
 
<div class="jumbotron">
    <h2>Thanks for submitting your claim!</h2>
    <p><small>Our associates will be in touch shortly...</small></p>
    <br />
    <p><a href="~/ClientHome/ClientHome/ListClientClaims/" class="btn btn-primary btn-lg" role="button">Take me to my claims!</a></p>
</div>