@{
    ViewBag.Title = "CFTTableReport";
}

<style>
    .CFTTableReport tr td {
        text-align: center;
    }
</style>

<div class="CFTTableReport" style="width:603px;height:201px;">
    <table>
        <tr>
            <td style="border-right:solid 1px Gray;">
                <table>
                    <tr>
                        <td colspan="2" width="200px" height="150px" style="border-bottom:solid 1px Gray;">
                            <a href="#">Claims</a>
                        </td>
                    </tr>
                    <tr>
                        <td width="100px" height="50px" style="border-right:solid 1px Gray;">
                            <a href="#">New claims</a>
                        </td>
                        <td width="100px" height="50px">
                            <a href="#">Resolved</a>
                        </td>
                    </tr>
                </table>

            </td>
            <td>
                <table>
                    <tr>
                        <td width="100px" height="100px" style="border-right: solid 1px Gray; border-bottom: solid 1px Gray;"><a href="#">Box I</a></td>
                        <td width="100px" height="100px" style="border-bottom: solid 1px gray;"><a href="#">Box II</a></td>
                    </tr>
                    <tr>
                        <td width="100px" height="100px" style="border-right: solid 1px Gray;"><a href="#">Box III</a></td>
                        <td width="100px" height="100px"><a href="#">Box IV</a></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>