@{
    ViewBag.Title = "Footer";    
}

<div class="footerBar">
    <div style="position: absolute; left: 10px; bottom: 0; height: 100%; line-height: 50px; vertical-align: middle;">
        <a title="Home" href="~/ClientHome/ClientHome/">
            <img src="~/Content/Images/Home.png" alt="Home" style="width: 32px; height: 32px; vertical-align: middle; border: none;" />
        </a>
    </div>
    <ul>
        <li>
            <a href="~/ClientHome/ClientHome/ListClientClaims/">Claims</a>
        </li>
 
        <li>
            <a href="~/Clients/User/">Your Users</a>
        </li>
 
    </ul>

</div>
