@{
    ViewBag.Title = "GoogleGeoChart";    
}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>

<script type='text/javascript'>
    google.load('visualization', '1', { 'packages': ['geochart'] });    
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['Country', 'Outstanding Claims'],
          ['Germany', 200],
          ['United States', 300],
          ['Brazil', 400],
          ['Canada', 500],
          ['France', 600],
          ['Russia', 700]
        ]);

        var options = {
            backgroundColor: 'transparent',
            enableRegionInteractivity: 'true',
            colorAxis: { colors: ['#3366cc', '#dc3912'] }
        };

        var chart = new google.visualization.GeoChart(document.getElementById('chart_div'));
        chart.draw(data, options);


        function selectHandler() {
            var selectedItem = chart.getSelection()[0];
            if (selectedItem) {
                var topping = data.getValue(selectedItem.row, 0);
                alert('The user selected ' + topping);
            }
        }

        google.visualization.events.addListener(chart, 'select', selectHandler);
    }; 
</script>


<div id="chart_div" style="width: 640px; height: 480px;"></div>