@{
    ViewBag.Title = "MultiChoiceListTemplate";

    

}


@*@if (ViewBag.FieldMode =="Insert")
{
    <h3>Indsert</h3>
    @Html.Kendo().MultiSelect().BindTo(ViewBag.MultiChoiceList).Name(ViewBag.claimFieldCode).Value(ViewBag.claimFieldMultiChoiceValue)
}
else if (ViewBag.FieldMode =="Edit")
{
    <h3>Edit</h3>
    @Html.Kendo().MultiSelect().BindTo(ViewBag.MultiChoiceList).Name(ViewBag.claimFieldCode).Value(ViewBag.claimFieldMultiChoiceValue)
}*@


<h2>hehe</h2>