@{
    ViewBag.Title = "SharePointDashboard";
}

<!DOCTYPE html>
<html>
<head>
    <title>SharePointDashboard</title>
    <link type="text/css" rel="stylesheet" href="/Content/Styles/DashboardOOP.css" />

    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1.1', { packages: ['controls'] });
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Content/Scripts/DashboardOOP.js"></script>
</head>
<body>
    <div id="dashboardItem"></div>
    <script type="text/javascript">
        function DrawEveryThing() {
            cftDashboard.LoadDashboard(cftDashboard);
        }

        var dashboardId = GetQueryStringValueOOP("DashboardId");
        var reportId = GetQueryStringValueOOP("ReportId");
        var cftDashboard = new CFTDashboard(dashboardId, "dashboardItem", reportId);

        if (google != null) {
            google.setOnLoadCallback(DrawEveryThing);
        }
    </script>
</body>
</html> 