<?xml version="1.0" encoding="utf-8"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

  <connectionStrings>
    <add name="reportConnectionString" connectionString="data source=(local)\SQL;initial catalog=Claims;persist security info=True;user id=claims;password=Access123;" providerName="System.Data.EntityClient" />
    <add name="ClaimsEntities" connectionString="metadata=res://*/ClaimsPoCModel.csdl|res://*/ClaimsPoCModel.ssdl|res://*/ClaimsPoCModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQL;initial catalog=Claims;persist security info=True;user id=claims;password=Access123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=(local)\SQL;initial catalog=Claims;user id=claims;password=Access123;" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection2" connectionString="data source=(local)\SQL;initial catalog=Claims;user id=claims;password=Access123;" providerName="System.Data.SqlClient" />
    <add name="acturisReportConnectionString" connectionString="Data Source=USNSH-I-DB800D;Initial Catalog=ACW;user id=cft_nateghianm;password=Access1379;" providerName="System.Data.EntityClient" />
    <add name="ACWEntities" connectionString="metadata=res://*/ActurisDataModel.csdl|res://*/ActurisDataModel.ssdl|res://*/ActurisDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=USNSH-I-DB800D;initial catalog=ACW;user id=cft_nateghianm;password=Access1379;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
