.chartsContainer
{
    display: inline-block;
    width: 100%;
    height: 80%;
}

.filtersContainer
{
    width: 100%;
    height:200px;
    padding: 0;
    margin: 0;
    bottom:0;
    position: fixed;
    z-index:200;
    vertical-align: top;
}


.chart
{
    vertical-align: top;
    border: 1px solid transparent;
    padding: 5px;
    position:relative;
}


.filtersContainer ul.filtersList
{
    list-style-type: none;
}

.filtersContainer ul.filtersList li.filter
{
    vertical-align: top;
    display: inline-block;
    max-width: 200px;
    width: 25%;
    padding: 0;
    margin: 0;
}


.clientDropDown
{
    background: #ddd url(//ssl.gstatic.com/editor/button-bg.png) repeat-x top left;
    color: #000;
    cursor: pointer;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;
    border-radius: 2px;
    width: 128px;
    height: 29px;
    border-color: #aaa;
    border-width: 1px;
}



.google-visualization-controls-categoryfilter
{
    height: 40px;
    display: inline-block;
}

.google-visualization-controls-categoryfilter > .charts-inline-block > .charts-menu-button
{
    margin-top: 0 !important;
}

.google-visualization-controls-label
{
    width:100%;
    font-weight: 700;
    font-size: 8pt;
    padding-top: 5px;
    padding-right: 5px;
}


.chartTitle{

display:inline-block;
width:100%;
}