@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Home/WillisMaster_CRUD.cshtml";
}

<h2>Control Panel</h2>

<p>Start managing your clients: <a href="~/Administration/WillisEmployee/">Click here</a></p>