@model IEnumerable<ModelsLayer.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Home/WillisMaster_CRUD.cshtml";
}

<h2>Users</h2>


@* Kendo Grid implementation*@
@(Html.Kendo().Grid(Model) // Bind the grid to the Model property of the view
    .Name("Grid")

    .Columns(columns =>
        {

            columns.Template(@<text><input type="checkbox" name="rowSelector" id="rowSelector@(item.UserId)" onclick="SelectRow('grid',  @item.UserId);" /></text>).Width("10px").HeaderTemplate(@<text><input id="allRowsSelector" type="checkbox" onclick="SelectAllRows(this);" /></text>);
            columns.Bound(clientUser => clientUser.DisplayName).Template(@<text><a href="/Clients/User/Details/@item.UserId">@item.DisplayName</a></text>).Width(100);
            columns.Bound(clientUser => clientUser.UserName).Width(100);
            columns.Bound(clientUser => clientUser.Email).Width(100);
            columns.Bound(clientUser => clientUser.Activated).Width(100).Title("Activated");
            columns.Template(@<text><a type="button" href="/Clients/User/Details/@item.UserId">View</a>&nbsp;&nbsp;&nbsp;<a type="button" href="/Clients/User/Edit/@item.UserId">Edit</a>&nbsp;&nbsp;&nbsp;<a type="button" href="/Clients/User/Delete/@item.UserId">Delete</a></text>).Width(100);
        })
    .Pageable(o =>{o.PageSizes(new int[]{10, 50, 100});})
     .ToolBar(
    toolbar =>
    {
        toolbar.Template(@<text>
            <div class="toolbar">
                <input type="button" value="Create new user" onclick="changeWindowLocation('/Clients/User/Create');" />
                <input type="button" value="Clear filters" onclick="changeWindowLocation('/Clients/User');" />
            </div>
        </text>);
    })
.Sortable(sortable => sortable.AllowUnsort(false))
.Filterable(filterable => filterable
        .Extra(false)
         .Operators(operators => operators
            .ForString(str => str.Clear()
                .StartsWith("Starts with")
                .IsEqualTo("Is equal to")
                .IsNotEqualTo("Is not equal to")
            ))
        )

)


<script type="text/javascript">
    $("#gridAllFilterReset").click(function (e) {
        window.location = "/Clients/User";
    });
</script>
